.check{
    border: 1px solid #D3DBE3;
    box-sizing: border-box;
    border-radius: 2px;    
}

.cols:nth-child(odd) {
    background: #F4F6F8;
  }
  
.cols:nth-child(even) {
    background: #FFFFFF;
}

.cols{
    border: 1px solid #F1F1F1
}
