.container{
    height: 100%;
}

.list{
    background: #ffffff;
    height: 100%;

    overflow-y: scroll;
    overflow-x: hidden;

    border: 1px solid #dfe4ea;
}

.messagebox{
    height: 78vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

.row{
    height: 100%;
}

.messagebox{
    height: 81vh;
    background: #273c75;    
}

.fa-check-double{
    color: aqua;
}

#msg{
    height: 5vh;
}

.action{
    background: #2c2c54;
    height: 9vh;
}

.helpdeskphoto{
    border-radius: 50%;
    Border: 2px solid #F1F1F1;
    height: 50px;
    width: 50px;
}

.info{
    background: #2c2c54;
    height: 10vh;
}

.list-group-item{
    width: 99%;
    border-top-width:1px !important;
}

