.container{
    height: 100%;
}

.list{
    background: #ffffff;
    height: 100%;

    overflow-y: scroll;
    overflow-x: hidden;

    border: 1px solid #dfe4ea;
}

.messagebox{
    overflow-y: scroll;
    overflow-x: hidden;
}

.row{
    height: 100%;
}

.messagebox{
    height: 75%;
    background: #dcdde1;    
}

.action{
    background: #718093;
    height: 12.5%;
}

.helpdeskphoto{
    border-radius: 50%;
    Border: 2px solid #F1F1F1;
    height: 50px;
    width: 50px;
}

.info{
    background: #718093;
    height: 12.5%;
}

.list-group-item{
    width: 99%;
    border-top-width:1px !important;
}


